<h1>Big Countdowns!</h1>

<% if logged_in? %>
    <h2>Welcome <%= current_user['name'] %></h2>
    <form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
    </form>
<% else %>
    <a href="/sign_up">Sign Up</a>
    <a href="/login">Login</a>
<% end %>

<form action="/search"><input type="text"name="mov_name">
    <button>Search Shows!</button>
</form>


<% if logged_in? %>
    <h2>Your Favourites:</h2>

<% else %>
    <h2>Recent Popular Picks</h2>

<% end %>

<% movies_list.each do |res| %>
    <li class="search_links"><a href="/movie_page?mov_id=<%=res['id']%>"><%=res['original_title']%></li>
    <a href="/movie_page?mov_id=<%=res['id']%>"><img src="https://image.tmdb.org/t/p/w500<%= res['poster_path']%>" alt="movie poster"></a>
<% end %>